{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="black-square">
        <h3>Welcome to Anonymous Room</h3>
        <div class="mb-3">
            <label for="textMessage" class="form-label">Enter your message:</label>
            <input type="text" class="form-control" id="textMessage">
        </div>
        <button id="addMessage" class="btn btn-primary rounded-1">Send</button>
    </div>
    <div id="messages" class="mt-4"></div>
</div>
{% endblock %}


{% block js_script %}
<script>    
    // setup chat scoket
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/public_room/'
    );

    // on socket open
    chatSocket.onopen = function (e) {
        console.log('Chat socket successfully connected.');
    };

    // on socket close
    chatSocket.onclose = function (e) {
        console.log('Chat socket closed unexpectedly');
    };

    // on receiving message on group
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.message;
        
        setMessage(message);
    };

    // sending the text message to server
    document.querySelector('#addMessage').onclick = function(e) {
            const messageInputDom = document.querySelector('#textMessage');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message
            }));
            
            messageInputDom.value = '';
    };

    // helper func setting message
    function setMessage(message){
        var div = document.createElement('div');
        div.className = 'alert alert-success alert-dismissible fade show';
        div.setAttribute('role', 'alert');

        var message = document.createTextNode(message);
        div.appendChild(message);
         
        var closeButton = document.createElement('button');
        closeButton.type = 'button';
        closeButton.className = 'btn-close';
        closeButton.setAttribute('data-bs-dismiss', 'alert');
        closeButton.setAttribute('aria-label', 'Close');
        div.appendChild(closeButton);

        var container = document.getElementById('messages');  
        container.appendChild(div);
    }

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>
<style>
    .alert-success {
        background-color: #28a745; /* green color */
        color: #ffffff; /* white text */
    }
    .btn-close {
        color: #000000; /* black color */
    }
    body {
    background-image: url('https://www.shutterstock.com/image-vector/social-media-sketch-vector-seamless-600nw-1660950727.jpg');
    }
    .black-square {
        background-color: #000000;
        padding: 20px; /* Adjust padding as needed */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        color: #eb0b0b;
        font-size: 40px;
        margin: 0; /* Remove default margin */
    }

    label {
        color: #eb0b0b;
        font-size: 20px;
    }

    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    #addMessage {
        width: 100%;
    }
    
</style>
{% endblock %}
